
.App {
    text-align: center;
    background-color: #f3eac2;
    height: auto;
}


.Button {
    background-color: #321f28;
    color: #9ad3bc;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.Border {
    text-align: center;
    background-color: #ec524b;
    height: 40px;

}


.Sidebar {
    height: 100%;
    padding-top: 100px;
    width:25%;
    background-color: #f5b461;
    font-size: 0px;
    color: #321f28;
    position: fixed;
    margin: auto;
    overflow-x: hidden;

}

.Main {
    width: 75%;
    height: auto;
    margin-left: 25%;
    background-color: #f3eac2;
    font-size: 0px;
    color: #321f28;

}

.Bigtext{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 50px;
    display: block;
    color: #9ad3bc;
}

.Smalltext{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    text-align: center;
    
}


