.App {
    text-align: center;
    background-color: #f3eac2;
    font-size: 0px;
}

.Header {
    background-color: #321f28;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}


.Border {
    text-align: center;
    background-color: #ec524b;
    height: 40px;

}

.BigText{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 40px;
    color: #321f28;
}

.MidText{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 30px;
    color: #321f28;
}

.Charity {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5b461;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #321f28;
    
}

#fieldnfork {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Link {
    color: white;
    background-color: #321f28;
    padding: 10px 30px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.Create {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f3eac2;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #321f28;
    
}

.RecipeFeature {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5b461;
    height: auto;
    font-size: 20px;
    color: #321f28;
    
}
