.Create {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  border: none;
  border-radius: 5px;
}

textarea {
  border: none;
  border-radius: 5px;
}

select {
  border: none;
  border-radius: 5px;
}

.submitButton {
  background-color: dodgerblue;
  color: white;
}
